<!DOCTYPE html>
<html lang="fr" ng-app="demandeApp">
<head>
  <meta charset="UTF-8">
  <title>Gestion des Demandes</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="style.css">
  
</head>
<body ng-controller="DemandeController">

  <h1>📋 Liste des demandes</h1>

  <!-- Formulaire pour ajouter / modifier une demande -->
  <form ng-submit="ajouterDemande()">
    <input type="text" ng-model="nouvelleDemande.prenom" placeholder="Prénom" required>
    <input type="text" ng-model="nouvelleDemande.nom" placeholder="Nom" required>
    <select ng-model="nouvelleDemande.sexe" required>
      <option value="">Sexe </option>
      <option value="M">Masculin</option>
      <option value="F">Féminin</option>
      
    </select>
    <input type="text" ng-model="nouvelleDemande.handicap" placeholder="Handicap" required>
    <input type="text" ng-model="nouvelleDemande.type" placeholder="Type" required>
    
    <button type="submit">
      {{ nouvelleDemande.id ? "Modifier" : "Ajouter" }}
    </button>
    <button type="button" ng-click="resetForm()" ng-if="nouvelleDemande.id">Annuler</button>
  </form>

  <hr>

  <!-- Affichage de la liste -->
  <ul>
    <li ng-repeat="demande in demandes">
      <strong>#{{demande.id}}</strong> - {{demande.prenom}} {{demande.nom}}
      ({{demande.sexe}}, {{demande.handicap}}, {{demande.type}})
      <em>[{{demande.date}}]</em>

      <!-- Boutons action -->
      <button ng-click="supprimerDemande(demande.id)">🗑 Supprimer</button>
      <button ng-click="editerDemande(demande)">✏ Modifier</button>
    </li>
  </ul>

</body>
</html>